@page
@model MyApp.Namespace.AdminModel

@{
    ViewData["Title"] = "Admin Page";
}
<h1>Admin Page</h1>
<p>Welcome to the admin page!</p>
<p>Here you can manage users and settings.</p>
<p>you shouldn only see this if you have admin rights</p>