@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to SafeVault</h1>
<p>Your secure vault for storing sensitive information.</p>

<a href="/Login" class="btn btn-secondary">Login</a>
